body{
  margin:0;
  font-family:'Poppins',sans-serif;
  background:linear-gradient(to right,#dbeafe,#c7d2fe);
}

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 40px;
}

.header h1{
  font-size:38px;
  font-weight:700;
}

.header-buttons{
  display:flex;
  gap:15px;
}

.cart-btn{
  background:#2563eb;
  color:white;
  border:none;
  padding:10px 16px;
  border-radius:8px;
  cursor:pointer;
}

.home-btn{
  background:#10b981;
  color:white;
  border:none;
  padding:10px 16px;
  border-radius:8px;
  cursor:pointer;
}


/* PRODUCT GRID */
.product-grid{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  gap:30px;
  padding:40px;
}
.card{
  background:white;
  padding:20px;
  border-radius:14px;
  text-align:center;
  box-shadow:0 8px 15px rgba(0,0,0,0.1);
}
.card img{
  width:120px;
  height:120px;
  object-fit:contain;
}

.add-btn{
  background:#3b82f6;
  color:white;
  border:none;
  padding:8px 14px;
  border-radius:6px;
  cursor:pointer;
}


/* PAGINATION */

.pagination{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:15px;
  margin-bottom:40px;
  margin-top: 60px;
}

.page-number{
  padding:8px 14px;
  border:none;
  background:#2563eb;
  color:white;
  border-radius:6px;
  cursor:pointer;
  transition:all 0.3s ease;
}

.page-number:hover{
  transform:scale(1.2);
  background:#1e40af;
}

.page-number.active{
  background:#111827;
  transform:scale(1.3);
}

.page-btn{
  padding:8px 14px;
  border:none;
  background:#10b981;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

.page-btn:disabled{
  background:#9ca3af;
}



/* CART */

.cart-page{
  padding:40px;
}

.cart-item{
  display:flex;
  align-items:center;
  justify-content:space-between;
  background:white;
  padding:20px;
  border-radius:10px;
  margin-bottom:20px;
}

.cart-item img{
  width:70px;
}

.cart-details{
  flex:1;
  margin-left:20px;
}

.quantity{
  display:flex;
  gap:10px;
  align-items:center;
}

.quantity button{
  padding:5px 10px;
  border:none;
  background:#2563eb;
  color:white;
  border-radius:5px;
}

.remove-btn{
  background:#ef4444;
  color:white;
  border:none;
  padding:8px 12px;
  border-radius:6px;
  cursor:pointer;
}